#contents.clearfix
  .sidebar
    .sidebar-account
      .sidebar-account-info.clearfix
        .sidebar-account-info__name
          %p sampleAccount
        .sidebar-account-info__actionbtn
          = link_to new_group_path, class: 'create-group-btn' do
            = fa_icon "pencil-square-o"
          = link_to edit_user_registration_path, class: 'edit-account-btn' do
            = fa_icon "cog"
    .sidebar-group
      %ul.sidebar-group-block
        %li
          .sidebar-group-block__group-name
            %p sampleGroup1
          %br/
          .sidebar-group-block__latest-message
            %p Then let's do it
        %li
          .sidebar-group-block__group-name
            %p sampleGroup2
          %br/
          .sidebar-group-block__latest-message
            %p There is no message yet.
  .main-content
    .main-content-header
      .main-content-header-group-info
        .main-content-header__group-title
          %p sampleGroup1
        %br/
        .main-content-header__members
          %p Members: Aziz Bob Mary Mike John
      %a.main-content-header.edit-group
        %p
          Edit
    .main-content-body
      %ul.main-content-body-block
        %li
          .main-content-body__name
            %p Aziz
          .main-content-body__time
            %p
              2017/02/27
              00:00:00
          %br/
          .main-content-body__message
            %p I see
        %li
          .main-content-body__name
            %p Aziz
          .main-content-body__time
            %p
              2017/02/27
              00:00:00
          %br/
          .main-content-body__message
            %p Then let's do it
    .main-content-footer
      %form
        %textarea.main-content-footer__message-box{row: "1", placeholder: "Type a message here", name: "message[body]", id: "message_body"}
        %label.main-content-footer__insert-file
          %i.fa.fa-image
        %input.main-content-footer.send-button{type: "submit", value: "Send"}
      / = form_for [@group, @message] do |f|
      /   = f.text_area :text, class: "main-content-footer__message-box", placeholder: "Type a message here"
      /   = f.label :image, class: "main-content-footer__insert-file" do
      /     = f.file_field :image
      /     = f.fa_icon "image"
      /   = f.submit "Send", class: "main-content-footer__send-button", "data-disable-with" => "Save"
