.notation-bar A chat group has been created.
#contents.clearfix
  .sidebar
    .sidebar-account
      .sidebar-account-info.clearfix
        .sidebar-account__name
          %p sampleAccount
        %a.sidebar-account__create-group
          %i.fa.fa-pencil-square-o
        %a.sidebar-account__edit-account
          %i.fa.fa-cog
    .sidebar-group
      %ul.sidebar-group-block
        %li
          .sidebar-group__group-name
            %p sampleGroup1
          %br/
          .sidebar-group__latest-message
            %p I see
        %li
          .sidebar-group__group-name
            %p sampleGroup2
          %br/
          .sidebar-group__latest-message
            %p There is no message yet.
  .main-content
    .main-content-header
      .main-content-header-group-info
        .main-content-header__group-title
          %p sampleGroup1
        %br/
        .main-content-header__members
          %p Members: Aziz Bob Mary Mike John
      %a.main-content-header.edit-group
        %p
          Edit
    .main-content-body
      %ul.main-content-body-block
        %li
          .main-content-body__name
            %p Aziz
          .main-content-body__time
            %p
              2017/02/27
              00:00:00
          %br/
          .main-content-body__message
            %p I see
        %li
          .main-content-body__name
            %p Aziz
          .main-content-body__time
            %p
              2017/02/27
              00:00:00
          %br/
          .main-content-body__message
            %p I see
    .main-content-footer
      %form
        %textarea.main-content-footer__message-box{row: "1", placeholder: "Type a message here", name: "message[body]", id: "message_body"}
        %label.main-content-footer__insert-file
          / %input{type: "file", name: "message[image]", id: "message_image"}/
          %i.fa.fa-image
        %input.main-content-footer.send-button{type: "submit", value: "Send"}
