/*CSS Color list*/

$lightBlue: #38AEF0;
$borderGray: #eee;
$textWhite: #FFF;
$nameBlue: #253141;
$groupBlue: #2f3e51;
$bodyGray: #f6f6f6;
$titleBlack: #333;
$textGray: #999;
$textBlack: #434A54;
$footerGray: #ddd;
$buttonGray: #ccc;
