/*CSS Color list*/

$lightBlue: #38AEF0;
$borderGray: #eee;
$textWhite: #FFF;
$nameNavy: #253141;
$groupNavy: #2f3e51;
$hoverNavy: #384a61;
$bodyGray: rgba(246, 246, 246, 0.5);
$titleBlack: #333;
$textGray: #999;
$textBlack: #434A54;
$footerGray: #ddd;
$buttonGray: #ccc;
$warningRed: #FF6347;
