/*CSS Color list*/

$lightBlue: #38AEF0;
$borderGray: #eee;
$textWhite: #FFF;
$nameNavy: #253141;
$groupNavy: #2f3e51;
$titleBlack: #333;
$textGray: #999;
$textBlack: #434A54;
$footerGray: #ddd;
$buttonGray: #ccc;
$dangerRed: #FF6347;
