.main-content-body-block
  %p.main-content-body-block__name
    = message.user.name
  %p.main-content-body-block__time
    = show_time(message)
  %br
  %p.main-content-body-block__message
    = message.body
